
.dashboardwrap{
    display: flex;
    background: #FFF1DC;
    width: 96vw;
    min-height: 140vh;
    justify-content: space-around;
    align-items: center;
    margin-left: 4vw;
}
.uinfocard{
    background: #FFF5F5;
    width: 350px;
    height: 80%;
    border-radius: 10px;
    margin-top: 40px;
}
.picneditprof{
    display: flex;
    justify-content: space-between;
    width: 83%;
    margin: 15px auto;
}
.namenedit{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}
.learningstat{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}
.nameheader{
    margin: 0;
}
.editbtn{
    margin: 8px auto;
    background: #53917E;
    width: 180px;
    font-size: 1.3rem;
    color: #FFF5F5;
    border: none;
    border-radius: 10px;
    padding: 4px;
}
.statitem{
    display: flex;
    width: 90%;
    justify-content: start;
    align-items: center;
    gap: 20px;

}
.dashboardoptions{
    display: flex;
    /* background: #6a742223; */
    width: 400px;
    height: 80%;
    /* border-radius: 10px; */
}
.mentorsesdetails{
    /* background: #6a74221c; */
    width: 400px;
    height: 80%;
}
.innerboardoptions{
    width: 90%;
    margin: 0 auto;
}
.head_sessions{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.msessions{
    position: relative;
    background: #FFFFFF;
    width: 110%;
    height: 13%;
    display: flex;
    /* justify-content: space-between; */
    gap:4%;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: rgba(30, 29, 29, 0.334) 0px 5px 5px;
}
.square1{
    width: 50px;
    height: 50px;
    background: #FFF1DC;
    margin: auto 2%;
    border-radius: 5px;
}
.time1{
    position:absolute;
    bottom: -12%;
    right: 2%;  
    font-size: 0.9rem;
}
.studyrooms{
    position: relative;
    background: #FFFFFF;
    width: 110%;
    height: 13%;
    display: flex;
    /* justify-content: space-between; */
    gap:4%;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: rgba(30, 29, 29, 0.334) 0px 5px 5px;
}
.square2{
    width: 50px;
    height: 50px;
    background: #53917E;
    margin: auto 2%;
    border-radius: 5px;
}
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
/* .skills_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
} */
.receresource{
    display: flex;
    flex-direction: column;

}
.recerespics{
    display: flex;
    margin: 10px 0 0 0;
    gap: 10%;
}
.filterwrap{
    /* height: 35px; */
    width: 100%;
    /* background: #FFFFFF; */
    display: flex;
    justify-content: flex-end;
}
.receimage{
    height: 220px;
    width: 200px;  
    margin: 0 5px;
    border-radius: 10px ;
}
.filterinp{
    height: 30px;
    margin: auto 5px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(30, 29, 29, 0.334) 0 5px 5px;
    padding: 5px;
}
.mentorseslist{
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 100%;
    margin: auto 0;
    background: #FFF5F5;
    border-radius: 10px;
}
.mentorseshead{
    width: 100%;
    height: 10%;
    background: #53917E;
    border-radius: 10px 10px 0 0;
}
.mentorsesent{
    width: 100%;
    height: 12%;
    background: white;
    border-bottom: rgba(30, 29, 29, 0.334) 0.1px solid;
}
.profilecircle{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin:auto 1px;
}
