.loginwrapper {
    display: flex;
    background: #FFF1DC;
    width: 96vw;
    height: 100vh;
    /* justify-content: space-around; */
    align-items: center;
    margin-left: 4vw;
    margin-top: 7vh;
}
.flexleft{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    /* background: rgba(255, 0, 0, 0.127); */
}
.loginbox{
    display:flex;
    background: white;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 450px;
    border-radius: 10px;
}
.flexright{
    width: 50%;
    height: 100%;
    /* background: rgba(0, 0, 255, 0.138); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.authbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5D6BA;
    margin: 0 10px;
    border: none;
    font-size: 1.2rem;
    padding: 2px;
}
.twoauthbtns{
    display: flex;
}
.logbtn{
    background: #F5D6BA;
    width: 200px;
    margin: 0 20px;
    border: none;
    font-size: 1.2rem;
    padding: 2px;  
}
.line{
    height: 0.1px;
    border-top:1px solid black;
    width: 70%;
    margin-bottom: 40px;
}
.inpfield{
    width: 65%;
    height: 30px;
    margin: 20px 0;
    background: #D9D9D9;
    border: none;
}
.remandforg{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}


