.vidcallwrap{
    height: 100vh;
    width: 100vw;
    /* margin-left: 4vw; */
    background: beige;
    display: flex;
}
.uservidscreen{
    height: 400px;
    width: 600px ;
}
.counter{
    margin-left: 60vw;
}