.navbar {
    background-color: #223843;
    width: 4vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .navbarnav {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navitem {
    margin: 20px 0;
  
  }
  
  .navlink {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
  }
  
  .nav-link:hover {
    background-color: #333;
  }
  
  .link-text {
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: 600;
  }
  